<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qingqiao.vhr.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="org.qingqiao.vhr.bean.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="iconCls" jdbcType="VARCHAR" property="iconCls" />
    <result column="parentId" jdbcType="VARCHAR" property="parentId" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
    <association property="meta" javaType="org.qingqiao.vhr.bean.Meta">
      <result column="keepAlive" jdbcType="VARCHAR" property="keepAlive" />
      <result column="requireAuth" jdbcType="VARCHAR" property="requireAuth" />
    </association>
  </resultMap>
  <resultMap id="BaseResultMap2" type="org.qingqiao.vhr.bean.Menu" extends="BaseResultMap">
    <collection property="children" ofType="org.qingqiao.vhr.bean.Menu">
      <id column="id2" jdbcType="INTEGER" property="id" />
      <result column="name2" jdbcType="VARCHAR" property="name" />
      <result column="url2" jdbcType="VARCHAR" property="url" />
      <result column="path2" jdbcType="VARCHAR" property="path" />
      <result column="component2" jdbcType="VARCHAR" property="component" />
      <result column="iconCls2" jdbcType="VARCHAR" property="iconCls" />
      <result column="parentId2" jdbcType="VARCHAR" property="parentId" />
      <result column="enabled2" jdbcType="VARCHAR" property="enabled" />
      <association property="meta" javaType="org.qingqiao.vhr.bean.Meta">
        <result column="keepAlive2" jdbcType="VARCHAR" property="keepAlive" />
        <result column="requireAuth2" jdbcType="VARCHAR" property="requireAuth" />
      </association>
    </collection>
  </resultMap>
  <resultMap id="menuRole" type="org.qingqiao.vhr.bean.Menu" extends="BaseResultMap">
    <collection property="roles" ofType="org.qingqiao.vhr.bean.Role">
      <id column="rid" property="id"/>
      <id column="rname" property="name"/>
      <id column="rnameZh" property="nameZh"/>
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap3" type="org.qingqiao.vhr.bean.Menu" extends="BaseResultMap">
    <collection property="children" ofType="org.qingqiao.vhr.bean.Menu" select="queryMenuById" column="id" fetchType="lazy">
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap4" type="org.qingqiao.vhr.bean.Menu" extends="BaseResultMap">
    <collection property="children" ofType="org.qingqiao.vhr.bean.Menu">
      <id column="id2" jdbcType="INTEGER" property="id" />
      <result column="name2" jdbcType="VARCHAR" property="name" />
      <result column="url2" jdbcType="VARCHAR" property="url" />
      <result column="path2" jdbcType="VARCHAR" property="path" />
      <result column="component2" jdbcType="VARCHAR" property="component" />
      <result column="iconCls2" jdbcType="VARCHAR" property="iconCls" />
      <result column="parentId2" jdbcType="VARCHAR" property="parentId" />
      <result column="enabled2" jdbcType="VARCHAR" property="enabled" />
      <association property="meta" javaType="org.qingqiao.vhr.bean.Meta">
        <result column="keepAlive2" jdbcType="VARCHAR" property="keepAlive" />
        <result column="requireAuth2" jdbcType="VARCHAR" property="requireAuth" />
      </association>
      <collection property="children" ofType="org.qingqiao.vhr.bean.Menu">
      <id column="id3" jdbcType="INTEGER" property="id" />
      <result column="name3" jdbcType="VARCHAR" property="name" />
      <result column="url3" jdbcType="VARCHAR" property="url" />
      <result column="path3" jdbcType="VARCHAR" property="path" />
      <result column="component3" jdbcType="VARCHAR" property="component" />
      <result column="iconCls3" jdbcType="VARCHAR" property="iconCls" />
      <result column="parentId3" jdbcType="VARCHAR" property="parentId" />
      <result column="enabled3" jdbcType="VARCHAR" property="enabled" />
      <association property="meta" javaType="org.qingqiao.vhr.bean.Meta">
        <result column="keepAlive3" jdbcType="VARCHAR" property="keepAlive" />
        <result column="requireAuth3" jdbcType="VARCHAR" property="requireAuth" />
      </association>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, url
  </sql>
  <select id="queryMenuById" resultMap="BaseResultMap3">
    select * from menu where parentId = #{id}
  </select>
  <select id="getAllMenusByRID" resultMap="BaseResultMap4" parameterType="Integer">
    SELECT m1.*,m2.component component2,m2.enabled enabled2,m2.iconCls iconCls2,m2.id id2,m2.keepAlive keepAlive2,m2.`name` name2,m2.parentId parentId2,m2.path path2,m2.requireAuth requireAuth2,m2.url url2,m3.component component3,m3.enabled enabled3,m3.iconCls iconCls3,m3.keepAlive keepAlive3,m3.`name` name3,m3.parentId parentId3,m3.path path3,m3.id id3,m3.requireAuth requireAuth3,m3.url url3 FROM menu m1 JOIN menu m2 on m1.id = m2.parentId JOIN menu m3 on m2.id=m3.parentId join menu_role mr on m3.id=mr.mid where mr.rid=#{rid}
  </select>
  <select id="getAllMenus" resultMap="BaseResultMap3">
    select m1.*,m2.id id2,m2.component component2,m2.enabled enabled2,m2.iconCls iconCls2,m2.keepAlive keepAlive2,m2.`name` name2,m2.parentId parentId2,m2.path path2,m2.requireAuth requireAuth2,m2.url url2,m3.component component3,m3.enabled enabled3,m3.iconCls iconCls3,m3.id id3,m3.keepAlive keepAlive3,m3.`name` name3,m3.parentId parentId3,m3.path path3,m3.requireAuth requireAuth3,m3.url url3
    from menu m1 join menu m2 on m1.id=m2.parentId join menu m3 on  m2.id=m3.parentId
  </select>
  <select id="getAllMenusByRid" resultMap="menuRole">
    select m.*,r.id rid,r.`name` rname,r.nameZh rnameZh from menu m join menu_role mr on mr.mid = m.id join role r on r.id = mr.rid
  </select>
  <select id="getMenuByHrId" resultMap="BaseResultMap2">
    SELECT DISTINCT m1.*,m2.id id2 ,m2.url url2 ,m2.path path2 ,m2.component component2,m2.name name2,m2.iconCls iconCls2,m2.keepAlive keepAlive2,m2.requireAuth requireAuth2 ,m2.parentId parentId2 ,m2.enabled enabled2 from menu m1 join menu m2 on m1.id=m2.parentId JOIN menu_role mr on mr.mid=m2.id JOIN role r on r.id = mr.rid JOIN hr_role hrr on hrr.rid=r.id JOIN hr on hr.id =hrr.hrid WHERE hr.id=#{id} AND m2.enabled=1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.qingqiao.vhr.bean.Menu">
    insert into menu (id, name, url
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.qingqiao.vhr.bean.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.qingqiao.vhr.bean.Menu">
    update menu
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.qingqiao.vhr.bean.Menu">
    update menu
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>